@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.e-input-group input.e-input,
.e-input-group.e-control-wrapper input.e-input,
.e-input-group textarea.e-input,
.e-input-group.e-control-wrapper textarea.e-input {
  height: 40px;
  font-size: 20px;
}

.e-grid .e-edit {
  color: green;
}

.e-delete {
  color: red;
}

.e-flat {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.e-grid .e-gridform .e-rowcell .e-input-group .e-input.e-field {
  font-family: cursive;
  color: rgb(214, 33, 123);
}

.custom-grid .e-rowcell {
  font-size: 16px; /* Adjust the font size as needed */
}

@media print {
  body,
  html {
    font-size: 0.75rem; /* Adjust as needed, 0.75rem is a common smaller size */
    height: 100vh; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    /* overflow: hidden; */
  }

  /* Specific styles for the invoice content */
  .invoice-content {
    font-size: 0.75rem; /* This can be adjusted to any size you prefer */
  }

  .header {
    font-size: 0.75rem;
  }

  .min-h-screen {
    min-height: 100vh;
  }

  .page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    /* page-break-after: always; */
  }

  /* .footer {
    position: absolute;
    bottom: 0;
    width: 96%;
  } */

  .page-break {
    page-break-before: always;
    break-before: page;
  }

  .no-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

/* .print {
    page-break-inside: avoid;
  } */
